*.iml
.DS_Store
.cxx
local.properties
gradlew
gradlew.bat
.externalNativeBuild
.gradle
/.idea
#ignore the folder called build anywhere, but not files called build
build/
/captures

# ignoring, because public repository
google-services.json
keystore/
